@import "default.css" ;

main{
  padding: 10rem 0rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
  grid-gap: 1.5rem;
}

section{
  border-radius: 1rem;
}

section h1{
  padding-top: 2.5rem;
  padding-bottom: 1.25rem;
  padding-left: 3rem;
}

section ul{
  padding-inline: 3rem;
  padding-bottom: 3rem;
}
